<div class="header">
    @Title
    <div class="space">
    </div>
    <div>
        <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active">HOME</NavLink>
        <NavLink href="archives" ActiveClass="active">ARCHIVES</NavLink>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
}