@inherits LayoutComponentBase

<div class="main">
    <div class="header">
        <Header Title="AbstractNote"></Header>
    </div>
    <div class="body">
        <div class="left-side">
            <Categories></Categories>
        </div>
        <div class="body-content">@Body</div>
        <div class="right-side">
            <Tags></Tags>
        </div>
    </div>
    <div class="footer">
        FOOTER
    </div>
</div>

<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>