@inherits LayoutComponentBase
<Layout>
    <Header>
        <NavMenu></NavMenu>
    </Header>
    <LeftSide>
        <Categories></Categories>
    </LeftSide>
    <RightSide>
        <Tags></Tags>
    </RightSide>
    <Body>
    @Body
    </Body>
    <Footer>
        Footer
    </Footer>
</Layout>